<div class="chat-message">
    <div class="avatar"><img src="<%= message.avatar %>" alt=""></div>
    <div class="content">
        <div class="timestamp"><%= message.timestamp %></div>
        <div class="name"><%= message.name %>:</div>
        <div class="message"><%= message.message %></div>
    </div>
</div>